@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* comienzo index */
body {
    /* background-image: linear-gradient(to bottom, #6413a7, #671ea6, #6a26a4, #6d2ea3, #7035a1, #723ba0, #75419e, #77479d, #794e9c, #7c559a, #7e5c99, #806397); */
    display: grid;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer" ;
    min-width: 100% !important;
    height: 100vh;
    width: 100vw;
    background-color: #fff !important;
}
header{
    grid-area:header;
    background-color: #fff !important;
    
}
main{
    display: flex;
    flex-direction: column;
    grid-area:main;
    height:100%;
    min-width: 100% !important;
    
}
/* comienzo footer */
footer{
    display:grid;
    grid-area:footer;
    height: 200px;
    background-color: rgb(203, 180, 223);
    grid-template-columns: 1fr ;
    grid-template-rows: 100px 100xpx;
    min-width: 100%;
}
.foooter{
    height: 200px;
    min-width: 100%;
    align-items: center !important;
    display: flex;
    flex-direction: column !important;
    justify-content:center !important;
    align-self: center !important;
    
    
}
.logoFooter{
    height: 90px;
    align-items: center !important;
    justify-content:center !important;
    display: flex !important;
    align-self: center !important;
    margin-top:5px !important;

}
.sociales{
    display: flex !important;
    flex-direction: row !important;
    margin: 10px !important;
    
}
.redesF{
    height: 35px;
    display:flex;
    flex-direction: row !important;
    margin: 3px !important;
}
.footer-pie{
background-color:black !important;
font-family: 'Source Sans Pro', sans-serif;
color: #fff;
height: 45px !important;
min-width:100% !important;


}
.footer-pie p{
    margin-left: 5px;
    height:45px !important;
    text-align: center !important;
}



/* fin footer */
.container-fluid{
    display:grid;
    grid-template-columns:400px 400px;
    min-width: 100% !important;
}
.row{
    min-width:100%;
    margin: 0;
}
.index-fluid{
    min-width: 50% !important;
    display:flex;
    flex-direction:column;
    align-self: center;
    padding: 0;
    
}
h5{
    height:50px;
    background-color: rgb(203, 180, 223);
    margin: 0;
}
.letra {
    font-family: 'Montserrat', sans-serif;
    height:100%;
    font-size:20px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: justify;
    color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
}
.imagen1{
    margin-top:0px !important;
    height: 400px ;
    width: 100%;
    align-items: center;
    align-self: center;
}
/* inicio navbar */


.navbar {
    background-color: rgb(255, 255, 255) !important;
    height: 150px;
    min-width: 100% !important;
    z-index: 10;
}
.navbar-brand img {
    height: 120px;
}
.navbar-toggler{
    color: #000;
    background-color:#333;
}

.logo{
    height: 150px;
}
h1{
    font-family: 'Bebas Neue', cursive !important;
}

h2 {
    color: white;
    font-family: 'Pushster', cursive;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    margin: 0;
}
.foto{
    display:flex;
    justify-content:center !important;
    align-items:center !important;
    min-width: 100%;
}
.img-responsive{
    height:700px;
    align-items: center;
    min-width:100% !important;
}



.btn {
    background-color: pink !important;
}

.n-left {
    height: 500px;
    width: 50% !important;
    background-color: rgb(100, 19, 167);
}


.n-left h3 {
    color: black;
    text-transform: uppercase;
}

.n-right {
    height: 500px;
    width: 50%;
    background-color: #333;
    padding: 0;
    display: flex;
}


.Container-foto{
    height:200px;
    width:500px;
    display:flex;
    justify-content:flex-end;
    align-self: flex-end;
}

.n-right img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.carousel-inner {
    display: flex;
    height: auto;
}

.revenge {
    background-position: center;
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.containerIndex{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 590px;
}
.container-left{
    width:50%;
    height: 500px;
    display:flex;
    flex-direction: column;

}
.text-center{
    text-align: center !important;
    font-family: 'Bebas Neue', cursive !important;
    font-size:60px;
    margin: 0px;

}
.h4{
    background-color:rgb(187, 89, 252) !important;
    color: #fff;
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 20px;
    margin: 0px !important;
    display:flex !important;
    justify-content: center !important;
    
}
.container-right{
    width:50% ;
    height:450px;
    display: flex !important;
    flex-direction:column !important;
    justify-content: flex-start;
 
}
.container-right-foto{
    margin-top:50px;
    height: 428px;
    width:700px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start !important;

}
.h4right{
    background-color:rgb(187, 89, 252) !important;
    color: #fff;
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 20px;
    margin: 0px !important;
    display:flex !important;
    justify-content: center !important;
}

/* fin index */



/* inicio seccion servicios */

.principalS{
    height: 100%;
    min-width: 100%;
    grid-area: main;
}
.jumbotron {
    background-image: url(../img/Foto1\ servicios.jpeg);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin: 0;
    border-radius: 0;
}

.jumbotron h1 {
    color: violet;
    text-shadow: 0 0 5px #222;
}

.jumbotron p {
    color: rgb(241, 241, 241);
    font-family: 'Pushster', cursive;
    font-size: 25px;
    text-shadow: 0 0 5px #222;
}
.btn{
    width:200px;
    height:50px;
}
.container-servicios{
     align-items: center ;
    display: flex ;
    flex-direction:column;
    width: 100%;
    
}
.container2-servicios{
    height: 500px;
    width:500px;
    display: flex;
}
.titulo-servicios{
    text-align: center;
    display: flex !important;
    background-color:rgb(143, 43, 201);
    color: #fff;
    margin: 30px;
    font-size:50px;
    
}
.parrafo-servicios{
    font-size:22px;
    align-items: center;
    text-align:center;
}
.section-sevicios{
    display: flex;
    flex-direction: column;
}




/* fin seccion servicios */

/* inicio  seccion contacto */
.bg-dark{
    margin-bottom:20px;
}
form {
    height: 800px;


}

.field {
    width: 400px !important;
}

.formulario1 {
    display: flex;
    justify-content: center !important;
    text-align: justify !important;
    margin: 50px auto 50px auto;
    min-width: 100%;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* margin-top:-50px !important; */
    
}

.fab {
    font-size: 30px !important;
    display: flex !important;
}


.logoC {
    font-size: 30px !important;
     height: 400px; 
    min-width: 100%;
  
   display:flex;
   align-items: center !important;
   justify-content: center !important;
}

.redes {
    font-size: 30px !important;
    height: 50px !important;
}

h3 {
    font-family: 'Pushster', cursive;
    margin-left: 60px !important;
    margin-top: -35px !important;
    color: white !important;
}

.container {
    height: 100% !important;
    min-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    display:flex;
    align-items: center !important;
    justify-content: center !important;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
    min-width:100%;
    display:flex;
    align-items: center !important;
    justify-content: center !important;
}


/* fin  seccion contacto */

/* comienzo seccion ubicacion */




/* fin seccion ubicacion */