@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

// font-family: 'Vujahday Script', cursive;
//  font-family: 'Vujahday Script', cursive;
// font-family: 'Vujahday Script', cursive;


* {
    margin: 0;
    padding: 0;
}

// inicio variables en sass

// fuentes
$font:'courier New',
Courier,
monospace;
$font2:arial;
$width:100%;
$height:100%;
$alturaOanchoMaximo:100%;
$letra:'Vujahday Script',
110px;
$name:'Vujahday Script',
cursive;


// colores
$bgcolor:#E7EEEA;
$bgcolor1:violet;
$colorF:rgb(203, 180, 223);


// declaro mapa

$formularios:(form: arial,
    form1: cursive,
    form2: 'courier new',
    form3: sans-serif,
    form4:serif,

);



// bucle del mapa
@each $name,
$font2 in $formularios {
    .form--#{$name} {
        font-family: $font2;
        font-size: 25px;
        color: #333;

    }

}


@mixin size ($width, $height, $colorF) {
    height: $height;
    width: $width;
    background-color: $colorF;

}


// el uso del extend esta en el class .solicitar




// fin variables







/* comienzo index */
body {
    /* background-image: linear-gradient(to bottom, #6413a7, #671ea6, #6a26a4, #6d2ea3, #7035a1, #723ba0, #75419e, #77479d, #794e9c, #7c559a, #7e5c99, #806397); */
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    min-width: 100% !important;
    height: 100vh;
    width: 100vw;
    background-color: #fff !important;
}

header {
    grid-area: header;
    background-color: #fff !important;

}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: $alturaOanchoMaximo;

}

/* comienzo footer */
footer {
    display: grid;
    grid-area: footer;
    height: 200px;
    background-color: $colorF;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100xpx;
    min-width: $alturaOanchoMaximo;
}

.foooter {
    height: 200px;
    min-width: $alturaOanchoMaximo;
    align-items: center !important;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-self: center !important;


}

.logoFooter {
    height: 90px;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    align-self: center !important;
    margin-top: 5px !important;

}

.sociales {
    display: flex !important;
    flex-direction: row !important;
    margin: 10px !important;

}

.redesF {
    height: 35px;
    display: flex;
    flex-direction: row !important;
    margin: 3px !important;
}

.footer-pie {
    background-color: black !important;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    height: 45px !important;
    min-width: $alturaOanchoMaximo;

    p {
        margin-left: 5px;
        height: 45px !important;
        text-align: center !important;
        font-family: 'Bebas Neue';
    }


}



/* fin footer */
.container-fluid {
    display: flex;

    min-width: $alturaOanchoMaximo;
}

.row {
    min-width: $alturaOanchoMaximo;
    margin: 0;
}

.index-fluid {
    min-width: 100% !important;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;

}

.index-fluid2 {
    min-width: 50% !important;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;

}

h5 {
    height: 50px;
    background-color: rgb(203, 180, 223);
    margin: 0;
}

.letra {
    font-family: $letra;
    height: $alturaOanchoMaximo;
    font-size: 20px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: justify;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.imagen1 {
    margin-top: 0px !important;
    height: 400px;
    width: $alturaOanchoMaximo;
    align-items: center;
    align-self: center;
}

/* inicio navbar */


.navbar {
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Bebas Neue';
    height: 150px;
    min-width: $alturaOanchoMaximo;
    z-index: 10;
}

.navbar-light {
    .navbar-toggler {
        border-color: #fff;
    }
}

.navbar-brand img {
    height: 120px;
}

.navbar-toggler {
    color: #000;
    background-color: #fff;
}

.logo {
    height: 150px;
}

.nav-link {
    font-size: 22px;
}

/* fin navbar */
h1 {
    font-family: 'Bebas Neue', cursive !important;
}

h2 {
    color: white;
    font-family: 'Pushster', cursive;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    margin: 0;
}

.foto {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    min-width: $alturaOanchoMaximo;
}

.img-responsive {
    height: 700px;
    align-items: center;
    min-width: $alturaOanchoMaximo;
}



.btn {
    background-color: pink !important;
    width: 200px;
    height: 50px;
    margin-top: 8px !important;
    margin-left:10px;
    color: #000;
    font-size: 25px;
}

.n-left {
    height: 500px;
    width: 50% !important;
    background-color: rgb(100, 19, 167);

    h3 {
        color: black;
        text-transform: uppercase;
    }

}


.n-right {
    height: 500px;
    width: 50%;
    background-color: #333;
    padding: 0;
    display: flex;

    img {
        background-size: cover;
        background-position: center;
        width: $alturaOanchoMaximo;
        height: $alturaOanchoMaximo;
        margin: 0;
    }
}


.Container-foto {
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.carousel-index {
    width: $alturaOanchoMaximo;

}

.carousel-index .img-fluid {
    width: $alturaOanchoMaximo;
}

.carousel-inner {
    display: flex;
    height: auto;
}

.revenge {
    background-position: center;
    height: 700px;
    width: $alturaOanchoMaximo;
    background-size: cover;
    background-position: center;
}

.containerIndex {
    display: flex;
    flex-direction: row;
    min-width: $alturaOanchoMaximo;
    height: 590px;
}

.container-left {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;

}

.text-center {
    text-align: center !important;
    font-family: 'Bebas Neue', cursive !important;
    font-size: 60px;
    margin: 0px;

}

.h4 {
    font-family: 'Bebas Neue', cursive !important;
    background-color: rgb(187, 89, 252) !important;
    color: #fff;
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 20px;
    margin: 0px !important;
    display: flex !important;
    justify-content: center !important;

}

.container-right {
    width: 50%;
    height: 450px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start;

}

.container-right-foto {
    margin-top: 50px;
    height: 428px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;

}

.h4right {
    background-color: rgb(187, 89, 252) !important;
    color: #fff;
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 20px;
    margin: 0px !important;
    display: flex !important;
    justify-content: center !important;
}


/* fin index */



/* inicio seccion servicios */

.principalS {
    height: $alturaOanchoMaximo;
    min-width: $alturaOanchoMaximo;
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    background-image: url(../img/jumbotron.jpeg);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin: 0;
    border-radius: 0;

    h1 {
        color: violet;
        text-shadow: 0 0 5px #222;

    }

    .h1-jumbotron {
        font-family: 'Bebas Neue', cursive !important;
        margin-bottom: 0;
        font-weight: 500;
        line-height: 1.2;
        color: #fff;
        text-align: start;


    }

    .h2-jumbotron {
        color: #fff;
        font-family: 'Bebas Neue', cursive !important;
        font-size: 2.5rem;
        text-shadow: 0 0 5px #222;
        margin-bottom: 0.5rem;
        text-align: start;
        font-weight: 500;
        line-height: 1.2;
        padding: 0;
        margin-bottom: 8;

    }

    p {
        color: rgb(241, 241, 241);
        font-family: 'Pushster', cursive;
        font-size: 25px;
        text-shadow: 0 0 5px #222;
    }

}


.btn-cita {
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive !important;
}

.container-servicios {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: $alturaOanchoMaximo;

}

.container2-servicios {
    height: $alturaOanchoMaximo;
    display: flex;
    width: $alturaOanchoMaximo;
}

.titulo-servicios {
    text-align: center;
    display: flex !important;
    background-color: rgb(143, 43, 201);
    color: #fff;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive !important;
    margin-top: 30px !important;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px !important;

}

.row {
    justify-content: center;
}

.col-xs-12 {

    max-width: 58.333333%;
}

.parrafo-servicios {
    font-family: 'Bebas Neue', cursive !important;
    font-size: 22px;
    align-items: center;
    text-align: center;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.titulo-secciones {
    color: rgb(143, 43, 201);
}

.parrafo-secciones {
    font-family: 'Bebas Neue', cursive !important;
    width: $alturaOanchoMaximo;
}

.section-sevicios {
    display: flex;
    flex-direction: column;
}

/*INICIO solicitar cita--otra seccion en la seccion sevicios */
/*INICIO solicitar cita--otra seccion en la seccion sevicios */

.solicitar {
    @extend .row;
    background-image: url(.././img/container-solicitar.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: $alturaOanchoMaximo;
    min-width: $alturaOanchoMaximo;

}

.container-solicitar {
    display: flex;
    flex-direction: column;


}

.form2 {
    height: $alturaOanchoMaximo;
    width: 80% !important;
    margin-left: 10px;
    color: #000;

    select {
        margin-top: 10px;
    }
}

label {
    color: #fff;
    font-size: 20px;
    font-family: 'Bebas Neue';




}

.center-content {
    margin-top: 10px;
}

.container-solicitar {
    .titulo-solicitar {
        font-family: $letra;
        color: #000;
        font-size: 50px;
        font-weight: 1000 !important;
        margin-left: 30px;
    }
}

.subtitulo-solicitar {
    font-family: 'Bebas Neue', cursive !important;
    font-size: 35px;
    color: #000;
    font-weight: 1000 !important;
    margin-left: -10px;
    padding: 0;
}

.container-solcitarNuevo {
    max-width: $alturaOanchoMaximo;
}




/*FIN solicitar cita--otra seccion en la seccion sevicios */
/*FIN solicitar cita--otra seccion en la seccion sevicios */



/* fin seccion servicios */



/* inicio  seccion contacto */
.h1-contacto {
    text-align: center;
    color: #fff;
    background-color: #333;

}

.bg-dark {
    margin-bottom: 20px;
}


form {
    height: 800px;
    width: $alturaOanchoMaximo;
    padding-left: 1%;
    padding-right: 1%;


}

.field {
    width: $alturaOanchoMaximo;
    margin-right: -10px;
}

.form1 {
    width: 100%;
}

.formulario1 {
    display: flex;
    justify-content: center !important;
    text-align: justify !important;
    margin: 50px auto 50px auto;
    min-width: $alturaOanchoMaximo;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* margin-top:-50px !important; */

}

.fab {
    font-size: 30px !important;
    display: flex !important;
}


.logoC {
    font-size: 30px !important;
    height: 400px;
    min-width: $alturaOanchoMaximo;

    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.redes {
    font-size: 30px !important;
    height: 50px !important;
}

h3 {
    font-family: 'Pushster', cursive;
    margin-left: 60px !important;
    margin-top: -35px !important;
    color: white !important;
}

.container {
    height: $alturaOanchoMaximo;
    min-width: $alturaOanchoMaximo;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    min-width: $alturaOanchoMaximo;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.container-contacto2 {
    min-width: $alturaOanchoMaximo;
    display: flex
}

.container-contacto .img-fluid {
    width: $alturaOanchoMaximo;
}

.form--form {
    font-family: Arial;
    font-size: 25px;
    color: #333;
}

.form--form1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    color: #333;
}

.form--form2 {
    font-family: sans-serif;
    font-size: 25px;
    color: #333;
}

.form--form3 {
    font-family: 'Times New Roman';
    font-size: 25px;
    color: #333;
}

.form--form4 {
    font-family: 'Segoe UI';
    font-size: 25px;
    color: #333;
}




/* fin  seccion contacto */

/* comienzo seccion ubicacion */

.container-ubicacion {
    width: $alturaOanchoMaximo;

    h1 {
        span {
            margin-left: 10px;
        }
    }

    iframe {
        width: $alturaOanchoMaximo;
        height: 500px;
        padding: 50px 50px 50px 50px;
    }


}


/* fin seccion ubicacion */





/*inicio de las pseudoclases */
.jumbotron a:active {
    color: rgb(255, 0, 221);
    font-size: 20px;
}

.form2 .center-content input:active {
    color: rgb(255, 0, 221);
    font-size: 20px;
}

.nav-link:active {
    font-size: 15px;
}






/*fin de las pseudoclases */






/* fin de la lista de estilos */